<div class="search-form">

  <%= form_tag(search_path, method: :post) do %>
   <div class="input-group">
     <%= text_field_tag :search, params[:search], class: "form-control input-lg", placeholder: "Search" %>
     <div class="input-group-btn">
       <button class="btn btn-lg btn-primary" type="submit"><i class="fa fa-search"></i> </button>
     </div>
   </div>
 <% end %>

</div>
