<div class="file-box">
    <div class="file">

      <a href="<%= resource.preview_link %>" target="_blank">

        <span class="corner"></span>

        <div class="image" style="height: 259px">
          <img class="pull-left width-3" src="<%= resource.image_link(:zoom => 2) %>" alt="Resource item" width= "198px">
        </div>

        <div class="file-name" style="height: 107px">
          <%= resource.title %>
          <br />
          <small>
             <%= resource.published_date %> <br />
          </small>
        </div>

       </a>

    </div>
</div>
