<div class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content animated fadeInUp">

        <div class="ibox">
          <div class="ibox-title">
              <h5>Tracks</h5>
              <div class="ibox-tools">
                <%= link_to 'Create new Tracks', new_track_path, class: 'btn btn-primary btn-xs' %>
              </div>
          </div>
          <div class="ibox-content">
              <div class="project-list">

                 <table class="table table-hover">
                   <thead>
                       <tr>
                         <th>Name</th>
                         <th></th>
                       </tr>
                   </thead>
                   <tbody>
                     <% @tracks.each do |track| %>
                       <tr>
                         <td class="Track-title">
                           <%= link_to "<strong>#{track.name}</strong>".html_safe, track_path(track), id: "track=-#{track.id}" %></a>
                         </td>
                         <td class="project-actions">
                             <a href="#" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> Edit </a>
                             <a href="#" class="btn btn-white btn-sm"><i class="fa fa-trash"></i> Delete </a>
                         </td>
                       </tr>
                       <% end %>
                   </tbody>
                 </table>
               </div>
            </div>
        </div>
      </div>
    </div>
  </div>
