/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}
.user-name{
  font-weight: 500;
}
#top-search{
  background: #2B4B6A;
  height: 30px;
  margin-top: 15px;
}
.label {
  font-size: 12px;
  font-family: "roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
