<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Skillstep", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <% if logged_in? %>
        <li><%= link_to "Logged as #{current_user.name} Log Out", session_path(current_user), method: :delete %></li>
        <% else %>
        <li><%= link_to "Log in", new_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
